.contacts {
  position: relative;

  &--grey {
    background-color: @shadow-white;

    @media (min-width: @desktop-width) {
      background-color: @white;
    }
  }
}

.contacts__map {
  text-align: center;
  height: 362px;
  width: auto;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    height: 400px;
    width: auto;
  }
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 26px;
  z-index: 5;

  @media (min-width: @tablet-width) {
    padding-left: 71px;
    padding-right: 72px;
    padding-top: 64px;
    padding-bottom: 57px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    padding-left: 76px;
    padding-top: 66px;
    padding-right: 89px;
    padding-bottom: 58px;
    display: grid;
    grid-template-columns: 163px 155px;
    gap: 87px;
    background-color: @white;
  }
}

.contacts__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @black2;
  flex-basis: 140px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 25px;
    flex-basis: 180px;
    margin-top: 2px;
  }

  @media (min-width: @desktop-width) {
    flex: 160px;
    text-align: left;
    margin-top: 0;
  }
}

.contacts__address {
  font-size: 14px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  color: @deep-graphite;
  font-style: normal;
  flex-basis: 140px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    flex-basis: 160px;
    text-align: end;
  }

  @media (min-width: @desktop-width) {
    margin-top: -3px;
    text-align: start;
  }
}

.contacts__map-frame {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.contacts__empty-line {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}
