.main-nav {
  max-height: 213px;
  transition-property: max-height;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    overflow: visible;
  }
}

.main-nav--closed-animation {
  @media (max-width: @mobile-width) {
    max-height: 0;
  }
}

.main-nav--closed {
  @media (max-width: @mobile-width) {
    display: none;
  }
}
