// @import "../global/variables.less";
.programs__list {
  .reset-list();
  margin-top: 3px;
  display: grid;
  gap: 20px;

  @media (min-width: @tablet-width) {
    gap: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(2, 570px);
    gap: 80px;
  }
}

.programs__item {
  box-sizing: border-box;
  padding-left: 20px;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: @shadow-white;

  @media (min-width: @tablet-width) {
    padding-top: 77px;
    padding-bottom: 57px;
    padding-left: 52px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 77px;
    padding-bottom: 59px;
  }
}

.programs__title {
  text-transform: uppercase;
  margin: 0;
  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
  padding-left: 72px;
  position: relative;
  overflow: visible;
}

&--slim::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 9px;
  top: -9px;
  width: 36px;
  height: 50px;
  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
  background-size: 36px 50px;

  @media (min-width: @tablet-width) {
    top: 4px;
    right: 40px;
    left: auto;
    width: 140px;
    height: 192px;
    background-repeat: no-repeat;
    background-size: 140px 192px;
  }
}

&--slim::after {
  content: "";
  position: absolute;
  top: -6px;
  left: 2px;
  width: 50px;
  height: 50px;
  background-color: @basic-green;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    top: 14px;
    left: auto;
    right: 8px;
    width: 200px;
    height: 200px;
  }
}

&--muscle::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -7px;
  z-index: 1;
  width: 67px;
  height: 28px;
  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
  background-size: 67px 28px;

  @media (min-width: @tablet-width) {
    top: 58px;
    left: auto;
    right: -24px;
    background-size: 268px 112px;
  }
}

&--muscle::after {
  content: "";
  position: absolute;
  top: -6px;
  left: 3px;
  width: 50px;
  height: 50px;
  background-color: @basic-green;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    top: 14px;
    left: auto;
    right: 8px;
    width: 200px;
    height: 200px;
  }
}

@media (min-width: @tablet-width) {
  font-size: 36px;
  line-height: 36px;
  padding-left: 0;

  &--slim::before {
    top: 3px;
    left: 394px;
    width: 200px;
    height: 211px;
  }

  &--muscle::before {
    top: 14px;
    width: 268px;
    height: 200px;
    left: 358px;
  }
}

@media (min-width: @desktop-width) {
  padding-left: 162px;

  &::before {
    display: block;
  }
}

.programs__description {
  margin-top: 29px;
  font-family: "Arial", sans-serif;
  color: @deep-graphite;
  position: relative;
  padding-bottom: 22px;
  border-bottom: solid 1px @border-grey;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    width: 377px;
    margin-top: 15px;
    margin-bottom: 51px;
    margin-left: -1px;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    border: 0;
  }

  @media (min-width: @desktop-width) {
    margin-top: 74px;
    width: 467px;
    margin-bottom: 3px;
    padding-bottom: 0;
  }
}

.programs__link {
  display: inline-block;
  margin-top: 19px;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @black;
  position: relative;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 24px;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @desktop-width) {
    width: 32px;
    height: 10px;
    right: -60px;
  }
}

&:hover .programs__icon-right-arrow-long {
  display: none;
}

&:hover .programs__icon-right-arrow-verylong {
  display: block;
}

.programs__icon-right-arrow-long,
.programs__icon-right-arrow-verylong {
  margin-left: 14px;

  @media (min-width: @tablet-width) {
    margin-left: 25px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 28px;
  }
}

.programs__icon-right-arrow-verylong {
  display: none;
}
