// Devices VP widths

@desktop-width: 1440px;
@tablet-width: 768px;
@mobile-width: 767px;

// Colors

@basic-green: #68b738;
@basic-green2: #5eaa2f;
@header-green: #63a73a;
@white: #ffffff;
@shadow-white: #f2f2f2;
@lighter-grey: #e6e6e6;
@light-grey: #eaeaea;
@black: #000000;
@black2: #111111;
@black3: #222222;
@black-mini:     rgba(0, 0, 0, 0.16);
@border-grey: #d9d9d9;
@dark-grey: #666666;
@deep-graphite: #444444;
@white-grey: #d3d3d3;
@lighter-grey2: #cdcdcd;
@ligher-grey3: #dcdcdc;
@special-grey: #ebebeb;
@special-grey2: #b2b2b2;
@special-grey3: #bababa;
@special-red: #ff8282;
